extends layout
block content
    h2 Passengers 
    p The are #{passengers.length} passengers waitings.

    ol
       each passenger in passengers
         li
           a(href=`/passengers/${passenger.id}`)= passenger.name 
         